<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>

   <!-- <h1>Create a Basketball Team!</h1>
   <form action="/team" method="POST" />
   <p>Team name: type="text" id="[team]</p>
   <p>Coach: type="text" id="[team][:coach]</p>
   <p>Point Guard: type="text" id="[team][:pg]</p>
   <p>Shooting Guard: type="text" id="[team][:sg]</p>
   <p>Small Forward: type="text" id="[team][:sf]</p>
   <p>Power Forward: type="text" id="[team][:pf]"</p>
   <p>Center: type="text" id="[team][:c]</p>
   <input id="Submit" type="Submit" /> -->
   
   <h1>Basketball Team! </h1>
  Team Name: <%= @name %>
  Coach: <%= @coach %>
  Point Guard: <%=@pg %>
  Power Forward: <%=@pf %>
  Shooting Guard: <%=@sg %>
  Small Forward: <%=@sf %>
  Center: <%=@c %>

 </body>
</html>
